<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Public">
                    <match url="^(.*)(public/)(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="(.*)(/public/)(.*)$" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="{R:2}{R:3}" />
                </rule>
                <rule name="App Scripts">
                    <match url="^(.*)(app/scripts/)(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="(.*)(/app/scripts/)(.*)$" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="{R:2}{R:3}" />
                </rule>
                <rule name="Core">
                    <match url="^(.*)(core/)(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="(.*)(/core/)(.*)$" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="{R:2}{R:3}" />
                </rule>
                <rule name="Libraries">
                    <match url="^(.*)(libs/)(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="(.*)(/libs/)(.*)$" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="{R:2}{R:3}" />
                </rule>
                <rule name="Modules">
                    <match url="^(.*)(modules/)(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="(.*)(/modules/)(.*)$" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="{R:2}{R:3}" />
                </rule>
                <rule name="Clean URLs" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern="^/favicon.ico$" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?q={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
