body {
  background:#efefef url(http://fabriqframework.com/images/page-bg.png) repeat top center;
  color:#333333;
}
header, nav, article, footer, address, section { display:block; }
header {
  background-color:#333333;
  background-image:-webkit-gradient(linear,left top,left bottom,from(#333333),to(#454545));
  background-image:-moz-linear-gradient(top,#333333,#454545);
  -pie-background:linear-gradient(#333333,#454545);
  height:70px;
  width:100%;
  behavior:url('../libs/css/pie/PIE.php');
}
section#header {
  width:980px;
  margin-left:auto;
  margin-right:auto;
}
section#header div#site-name {
  margin-left:70px;
  font-size:36pt;
  color:#efefef;
  padding-top:8px;
  text-shadow:0px 1px 0 #660000;
}
nav#default-nav {
  width:100%;
  background-image:-webkit-gradient(linear,left top,left bottom,from(#990000),to(#ab0000));
  background-image:-moz-linear-gradient(top,#990000,#ab0000);
  -pie-background:linear-gradient(#990000,#ab0000);
  color:#ffffff;
  border-top:solid 1px #660000;
  behavior:url('../libs/css/pie/PIE.php');
}
nav#admin-nav {
  width:100%;
  background-color:#333333;
  background-image:-webkit-gradient(linear,left top,left bottom,from(#333333),to(#454545));
  background-image:-moz-linear-gradient(top,#333333,#454545);
  -pie-background:linear-gradient(#333333,#454545);
  color:#ffffff;
  behavior:url('../libs/css/pie/PIE.php');
}
nav section.nav {
  width:980px;
  margin-left:auto;
  margin-right:auto;
}
nav section.nav ul {
  padding:0;
  margin:0;
  list-style:none;
}
nav section.nav ul li {
  float:left;
  padding:5px 13px;
  margin:0 2px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  list-style:none;
  cursor:pointer;
  position:relative;
}
nav section.nav ul li:hover ul { display:block; }
nav section.nav ul li a:link, nav section.nav ul li a:active, nav section.nav ul li a:visited {
  color:#efefef;
  text-decoration:none;
}
ul.sub-menu {
  position:absolute;
  top:28px;
  left:-3px;
  padding:0;
  margin:0;
  border:solid 1px #660000;
  border-top:none;
  background-color:#ab0000;
  display:none;
  -webkit-border-radius:0 0 5px 5px;
  -moz-border-radius:0 0 5px 5px;
  border-radius:0 0 5px 5px;
}
ul.sub-menu li {
  list-style:none;
  float:none;
  width:225px;
}
section#body {
  width:100%;
  border-top:solid 1px #999999;
  padding:5px 0;
}
section#content {
  width:980px;
  margin-left:auto;
  margin-right:auto;
}
section#content a:link, section#content a:active, section#content a:visited {
  color:#990000;
  font-weight:bold;
}
table tbody tr.even { background-color:#f7f7f7; }
table tbody tr.even td { background-color:#f7f7f7; }
h1, h3 { color:#990000; }
div.pagination { padding:5px; }
div.pagination ul {
  padding:0;
  margin:0;
}
div.pagination li {
  list-style:none;
  float:left;
  padding:4px 10px;
  margin-right:5px;
  border:solid 1px #cccccc;
  background-color:#dddddd;
  background-image:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#dddddd));
  background-image:-moz-linear-gradient(top,#ffffff,#dddddd);
  filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#FFFFFF',EndColorStr='#DDDDDD');
  cursor:pointer;
}
div.pagination li:hover, div.pagination li.current {
  border:solid 1px #660000;
  background-color:#990000;
  background-image:-webkit-gradient(linear,left top,left bottom,from(#cc0000),to(#990000));
  background-image:-moz-linear-gradient(top,#cc0000,#990000);
  filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='@baselight',EndColorStr='@basecolor');
}
div.pagination li a {
  color:#666666 !important;
  text-decoration:none;
  font-size:10pt;
  text-shadow:0 1px 0 #ffffff;
}
div.pagination li:hover a, div.pagination li:hover a:hover, div.pagination li.current a {
  color:#ffffff !important;
  text-shadow:0 1px 0 #333333;
}
div.blog-entry { margin-bottom:10px; }
div.blog-entry h3 {
  padding:5px 0;
  margin:0;
  font-family:'Neuton', Georgia, "Times New Roman", Times, serif;
}
div.blog-published {
  color:#666666;
  font-style:italic;
  font-size:9pt;
}
div.blog-body p {
  padding:0;
  margin:10px 0;
}
