fieldset#users-login {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	border: solid 1px #666;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

fieldset#users-login a {
	font-size: 10pt;
	font-weight: normal !important;
}
